<div id="newNodeBox">
    <input type="text" placeholder="Note Title" id="newNoteTitle">
    <br>
    <textarea name="Text1" cols="40" rows="5" placeholder="Note Description" id="newNoteDescription"></textarea>
    <br>
    <input type="button" value="Add Note" id="newNoteSubmit">
    <br>
</div>
