<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo</title>
    <link rel="stylesheet" href="css/styles.css">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>
</head>

<body onload="onload()">
    <div class="container">
        <div class="addnote">
            <%- include('../partials/addNote.ejs'); %>
        </div>
        <div class="list">
            <%- include('../partials/notes-list.ejs'); %>
        </div>
    </div>
    <div id="openNotePanel">

    </div>
</body>

<script src="/scripts/ejs_production.js"></script>
<script src="/scripts/script.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</html>